@keyframes move {
    0% {
        transform: translate3d(0, 0, 0);
    }

    50% {
        transform: translate3d(0, -6px, -3px);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes shine {
    0% {
        background-position: top left;
    }

    100% {
        background-position: top right;
    }
}



@keyframes Opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}



@keyframes Titlemove {
    0% {
        transform: translateX(-30%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes textmove {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(0%);
    }
}
@keyframes TitlemoveM {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(10%);
    }
}

@keyframes textmoveM {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(10%);
    }
}


@keyframes Circlemove{

    0% {
        transform: translate(-100%, -50%) rotate(-180deg);
    }

    100% {
        transform: translate(0%, -50%) rotate(0deg);
    }
}

@keyframes CirclemoveRight{

    0% {
        transform: translate(200%, -50%) rotate(-180deg);
    }

    100% {
        transform: translate(30%, -50%) rotate(0deg);
    }
}

@keyframes moveRight{

    0% {
        transform: translate(200%, 0%) ;
    }

    100% {
        transform: translate(10%,0%);
    }
}


@keyframes moveRightM{

    0% {
        transform: translate(200%, 0%) ;
    }

    100% {
        transform: translate(-10%,0%);
    }
}


@keyframes Bottlemove {
    0% {
        transform: translate(300%,-50%);
        top: 50%;
    }

    100% {
        transform: translate(50%,-50%);
        top: 50%;
    }
}


@keyframes BottlemoveM {
    0% {
        transform: translateX(200%);
        // transform: translate(300%,10%);
        bottom: -20px;
    }

    100% {
        transform: translateX(20%);
        // transform: translate(50%,10%);
        bottom: -20px;
    }
}


